@import url('https://fonts.googleapis.com/css?family=Nunito+Sans|Yeseva+One&display=swap');

main {
    width: 100%;
    max-width: 1440px;
}

/* HEADER */
header {
    background: #131313;
    color: #eee;
    padding: 24px 90px;
    display: flex;
    flex-flow: row; 
    justify-content: space-between;
}

header a {
    text-decoration: none;
}

header>* {
    line-height: 41px;
}

.header-title {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    text-transform: uppercase;
    color: #E3B873;
    display: block;
    line-height: 41px;
}

.header-menu {
    list-style: none;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    display: flex;
    flex-flow: row; 
    justify-content: space-between;
    flex-grow: 1;
    margin-left: 95px;
    margin-right: 67px;
}

.header-menu li>* {
    color: #FFFFFF;
    text-transform: uppercase;
    text-decoration: none;
    transition: .2s ease-in;
    line-height: 41px;
}

.header-menu li:hover>* {
    color: #E3B873;
    transition: .2s ease-out;
}

.header-contact__phone {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    text-align: right;
    line-height: 41px;
    
}

.header-contact__phone a {
    text-decoration-line: underline;
    color: #E3B873;
}

.header-requestcall__btn {
    margin-left: 45px;
    font-style: italic;
    padding: 13px 32px;
    line-height: 15px;
}

/* HERO BLOCK */
.hero-block {
    background-image: url('img/hero-img_min.jpg');
    max-height: 707px;
    position: relative;
    padding: 194px 134px 160px 134px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}
.hero-block:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 2;
}
.hero-block>* {
    position: relative;
    z-index: 3;
}
.hero-block h1 {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
    width: 50%;
    color: #FFFFFF;
    margin-bottom: 19px;
}
.hero-block h1>span{
    color: #E3B873;
}
.hero-block p {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 36px;

    color: #FFFFFF;
    width: 50%;
    margin-bottom: 40px;
}

.hero-block .hero-block__actions {
    width: 50%;
    display: flex;
    flex-flow: row;
    max-width: 434px;
    line-height: 51px;
}

.hero-block__actionbtn {
    flex: 1;
    font-style: italic;
    width: 207px;
    height: 51px;   
}
.hero-block__actionbtn:nth-of-type(1){
    margin-right: 20px;
}

/* COMPLETED PROJECTS */
.completed-projects {
    background-color: #131313;
    padding: 107px 134px 0px 134px;
}
.completed-projects__wrap {
    display: flex;
}
.completed-projects__description h2 {
    display: block;
    width: 253px;
    height: 66px;
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 37px;
    letter-spacing: -0.07em;
    text-transform: uppercase;
    color: #E3B873;
    position: relative;
}

.completed-projects__description h2:after {
    content: '';
    position: absolute;
    width: 92px;
    height: 1px;
    background-color: #E3B873;
    right: 0px;
    bottom: 13px;
}

.completed-projects__description p {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 27px;
    margin-top: 34px;
    max-width: 442px;
    color: #FFFFFF;
}
.completed-projects__data {
    display: flex;
    flex-flow: row wrap;
    max-width: 442px;
    margin-top: 8px;
}
.completed-projects__data-element {
    width: 50%;
    margin: 0px;
    margin-top: 34px;
}
.completed-projects__data-title {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;

    color: #E3B873;
}
.completed-projects__data-desc {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;

    color: #FFFFFF;
}
.completed-projects__control {
    display: flex;
    flex-flow: row wrap;
    max-width: 206px;
    margin-top: 80px;
    justify-content: space-between;
}
.completed-projects__control-dots {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.completed-projects__control-dots>span {
    width: 10px;
    height: 10px;
    background:rgba(255, 255, 255, 0.3);
    border-radius: 30px;
    margin: 0px 8px;
    padding: 0;
}

.completed-projects__control-dots>.active-dot {
    background: rgba(255, 255, 255, 1);
}

.completed-projects__images {
    width: 679px;
    margin-left: 50px;
}
.completed-projects__images-selector {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.3);
    height: 24px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.0);
}
.completed-projects__images-selector>* {
    margin-right: 60px;
    cursor: pointer;
}
.completed-projects__images-selector>*:nth-last-child(1){
    margin-right: 0px;
}
.completed-projects__images-selector>.active-selector {
    color: #E3B873;
    border-bottom: 1px solid #E3B873;
}
.completed-projects__images img {
    width: 679px;
    height: 482px;  
    margin-top: 45px;
}

.completed-projects__online {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.completed-projects__online h2 {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 92px;
}
.completed-projects__online-icon {
    margin-top: 12px;
    margin-bottom: 32px;
    position: relative;
    display: flex;
}
.completed-projects__online-icon:before, .completed-projects__online-icon:after {
    content: '';
    height: 1px;
    min-width: 32px;
    background-color: #E3B873;
    margin-top: 16px;
    display: block;
}
.completed-projects__online-icon:before {
    margin-right: 9px;
}
.completed-projects__online-icon:after {
    margin-left: 9px;
}
.completed-projects__online-video {
    margin-bottom: -217px;
    position: relative;
}
.completed-projects__online-video:after {
    content: '';
    position: absolute;
    background: rgba(0, 0, 0, 0.8);
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}
.completed-projects__online-video>.playbutton-round {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 5;
    cursor: pointer;
}
/* BUTTONS */
.btn {
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    font-family: Nunito Sans;
    font-weight: normal;
    font-size: 11px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    color: #FFFFFF;
}
.btn-ghost {
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 2px;
    color: #FFFFFF;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    font-family: Nunito Sans;   
    font-weight: normal;
    font-size: 11px;
    text-align: center;
    color: #FFFFFF;
}

